<tr class="color">
<% if f.object.new_record? %>
  <td><%= link_to_remove_association "X", f, { wrapper_class: "color" } %></td>
  <td><%= f.collection_select :color_id, Color.all, :id, :name, {}, name: "#{f.object_name.sub('product[products_colors_attributes]', 'products_color')}[color_id]" %></td>
	<td>
		<%= check_box_tag "#{f.object_name.sub('product[products_colors_attributes]', 'products_color')}[mens]" %> Men's 
		<%= check_box_tag "#{f.object_name.sub('product[products_colors_attributes]', 'products_color')}[womens]" %> Women's 
	</td>

	
<% else%>
  <td><%= link_to_remove_association "X", f, { wrapper_class: "color" } %></td>
  <td><%= f.collection_select :color_id, Color.all, :id, :name %></td>
	<td><%= f.check_box :mens %> Men's <%= f.check_box :womens %> Women's</td>

<% end %>


<td>
<table>
  <td>Size</td>
  <td>Price</td>
  <td>Measurements</td>
  <td>SKU</td>
	<td>Active</td>
	<td></td>

<% if f.object.new_record? %>
<% f.object.variants.build %>
<%= f.fields_for :variants do |vf| %>
<tr class="variant"> 
  <td><%= vf.collection_select :size_id, Size.all, :id, :name, {}, name: "#{f.object_name.sub('product[products_colors_attributes]', 'variants')}[size_id]" %></td>
  <td><%= vf.text_field :price, name: "#{f.object_name.sub('product[products_colors_attributes]', 'variants')}[price]" %></td>
  <td><%= vf.text_field :measurements, name: "#{f.object_name.sub('product[products_colors_attributes]', 'variants')}[measurements]"%></td>
  <td><%= vf.text_field :sku, name: "#{f.object_name.sub('product[products_colors_attributes]', 'variants')}[sku]" %></td>
  <td><%= check_box_tag "#{f.object_name.sub('product[products_colors_attributes]', 'variants')}[active]" %></td>
	<td></td>
</tr>
<% end %>


<% else %>

<%= f.fields_for :variants do |vf| %>
<tr class="variant">
  <td><%= vf.collection_select :size_id, Size.all, :id, :name, {}, selected: vf.object.size_id %></td>
  <td><%= vf.text_field :price %></td>
  <td><%= vf.text_field :measurements %></td>
  <td><%= vf.text_field :sku %></td>
  <td><%= vf.check_box :active %></td>
	<td><%= link_to_remove_association "X", vf, { wrapper_class: "variant" } %></td>
</tr>


<% end %>

<% end %>

</table>
</td>
</tr>

		
		